*.xlsx
*.png
venv
.venv
.git
.pre-commit-config.yaml
.gitignore
.flake8
.python
.vscode
pyvenv.cfg
pip-selfcheck.json
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
node_modules
package-lock.json
public
CHANGELOG.md
CODEOWNERS
commitlint.config.js
docs
LICENSE
package.json
README.adoc
README.md
readme.md
version.txt
